div {
    font-family: "Open Sans", sans-serif;
}

.text {
    font-size: 20px;
    line-height: 30px;
}

.text2 {
    text-decoration: line-through;
    font-weight: bolder;
}

.text3 {
    text-align: center;
}
.text4 {
    font-weight: bolder;
    word-spacing: 30px;
    text-decoration-line:overline;
    text-decoration-style: wavy;
    text-shadow: 1px 1px 2px #d261e9;
}
.text5 {
    word-spacing: 5px;
    font-weight: bolder;
    text-decoration:underline double ;
}